@import "theme-template";

// variables

$light-text-color: #30343f;
$dark-text-color: #1ABC9C;
$primary-text-color: #30343f;
$secondary-text-color: darken($primary-text-color, 20%);
$link-text-color: #bc4b1a;
$error-text-color: #E3745B;

$bg-color: #EFF1F3;
$panel-bg-color: #c3cbd2;
$light-panel-bg-color: #cbd2c3;
$super-light-panel-bg-color: lighten($light-panel-bg-color, 8%);
$button-bg-color: #1a8bbc;
$secondary-button-bg-color: #546979;

$alert-color: $error-text-color;
$info-color: #bc4b1a;
$success-color: #18BC9C;
$warning-color: #fb8608;
$fee-color: $secondary-text-color;

// Exchange colors
$bid-color: #3acc2e;
$ask-color: #cc2e3a;
$call-color: #BBBF2B;
$positive-color: #3acc2e;
$negative-color: #cc2e3a;
$row-accent-color: #3C3C3C;
$header-color: #97a5b1;
$sub-header-color: #30343f;
$stats-color: #bc4b1a;

// Chat colors
$chat-text-color: #191A1F;

.lightTheme {
  @include theme(
    $primary-text-color,
    $bg-color,
    $dark-text-color,
    $link-text-color,
    $light-text-color,
    $secondary-text-color,
    $success-color,
    $info-color,
    $warning-color,
    $alert-color,
    $super-light-panel-bg-color,
    $panel-bg-color,
    $button-bg-color,
    $secondary-button-bg-color,
    $fee-color,
    $bid-color,
    $ask-color,
    $call-color,
    $light-panel-bg-color,
    $positive-color,
    $negative-color,
    $row-accent-color,
    $header-color,
    $chat-text-color
  );
  
  .blocktrades-bridge input, .blocktrades-bridge select{
    color: $secondary-text-color;
    background-color: $bg-color !important;
    border: 1px solid $secondary-text-color;
      &:hover, &:focus {
        color: $primary-text-color;
	      //box-shadow: 1px 2px 3px #000;
        border: 2px solid #000;
      }
  }
}

